.container {
  background-color: #333333;
  border-radius: 4px;
  width: 8rem;
  cursor: pointer;
  padding-top: 0.3rem;
  margin-top: 1rem;
}

.container:hover {
  background-color: #3b3b3b;
}

p {
  margin-top: 1rem;
}
