.comtainer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  max-width: 576px;
  padding: 50px;
  padding-top: 0;
  border-radius: 20px;
  color: black;
  text-align: start;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.image-box {
  display: flex;
  justify-content: center;
}

.image {
  max-width: 96px;
}

.image-modal {
  max-width: 300px;
}

.modal {
  display: flex;
  flex-direction: column;
  text-align: start;
}
